@mixin navBtn {
	padding: 1em 0.5em;
	background-color: transparent;
	border: none;
	z-index: 100000;
	cursor: pointer;
	&:focus {
		outline: none;
	}

	&-box {
		position: relative;
		width: 40px;
		height: 20px;
	}
	&-bars {
		position: absolute;
		top: 0;
		right: 0;
		height: 2px;
		background-color: #dff6ff;
		transition: var(--nav-btn-transition);
	}
	&-bars::after,
	&-bars::before {
		content: '';
		width: 100%;
		position: absolute;
		top: 0;
		right: 0;
		height: 2px;
		background-color: #dff6ff;
		transition: var(--nav-btn-transition);
	}
	&-bars {
		width: 85%;
	}
	&-bars::after {
		width: 45%;
		top: 9px;
	}
	&-bars::before {
		width: 75%;
		top: 18px;
	}
	&:hover &-bars,
	&:hover &-bars::after,
	&:hover &-bars::before {
		background-color: var(--second-bgcolor);
	}
}

@mixin navMobileItem {
	&-item {
		display: block;
		position: relative;
		padding: 0.8em 1.4em;
		margin: 1em 0;
		text-align: center;
		font-size: 1.8rem;
		width: 100%;
		color: var(--text-lightcolor);
		text-decoration: none;
		transition: var(--nav-item-transition);
		&:focus {
			outline: none;
		}
		&:hover {
			margin-left: 1em;
			color: var(--second-bgcolor);
			&::before {
				opacity: 1;
			}
		}
		&::before {
			opacity: 0;
			position: absolute;
			content: '';
			width: 2px;
			height: 100%;
			top: 0;
			left: 50px;
			transition: opacity 0.1s ease-in-out;
			background-color: var(--second-bgcolor);
		}
	}
}

@mixin navSocials {
	&-item {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: var(--cta-btn);
		border: 1px solid transparent;
		border-radius: 50%;
		width: 50px;
		height: 50px;
		margin: 0.25em;
		transition: background-color 0.3s, border 0.3s;
		&:focus {
			outline: none;
		}
		&:hover {
			background-color: var(--main-bgcolor);
			border: 1px solid var(--cta-btn);
			svg {
				fill: var(--cta-btn);
			}
		}
		&:hover:nth-child(2) {
			svg {
				stroke: var(--main-bgcolor);
			}
		}
		&:hover:nth-child(3) {
			svg {
				stroke: var(--main-bgcolor);
			}
		}
	}
	svg {
		transition: fill 0.3s, stroke 0.3s;
		width: 40px;
	}
}

@mixin navCv {
	&-cv {
		margin: 1em 0 1.5em;
		padding: 0.8em 3.5em;
		text-decoration: none;
		border: 1px solid transparent;
		color: var(--text-lightcolor);
		background-color: var(--cta-btn);
		text-align: center;
		transition: var(--nav-cv-transition);
		border-radius: 5px;
		&:focus {
			outline: none;
		}
		&:hover {
			border: 1px solid var(--cta-btn);
			background-color: var(--main-bgcolor);
			color: var(--second-bgcolor);
		}
	}
}
